<div class="alert alert-block alert-success">
<b>SERIES</b>
<p>A series is a one-dimensional labelled array capable of holding any data type. The axis labels are collectively called index.</p>
<p>Real-world example: Think of a Series like a list of students and their grades:</p>
<ul>Student 1 → 85</ul>
<ul>Student 2 → 92</ul>
<ul>Student 3 → 78</ul>
<ul>Student 4 → 95</ul>
</div>

<div class="alert alert-block alert-danger">
Creating Series
</div>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# Creating different Python objects that can be converted to pandas Series
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [3]:
# Creating a Series from a Python list
# Using default integer indexing (0, 1, 2...)
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
# Creating a Series from a list with custom index labels
# Specifying custom labels using the 'index' parameter instead of default integers
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
# Creating a Series from a NumPy array
# pandas automatically handling NumPy arrays and using default integer indexing
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [6]:
# Creating a Series from a Python dictionary
# Dictionary keys becoming the index labels, values becoming the Series data
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
# Exploring what a Series contains
student_grades = pd.Series({'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95})

# The values (the actual numbers)
print("Values:", student_grades.values)  # [85 92 78 95]

# The index (the labels)
print("Index:", student_grades.index)    # ['Alice', 'Bob', 'Charlie', 'Diana']

# The data type
print("Data type:", student_grades.dtype) # int64

# The shape (how many items)
print("Shape:", student_grades.shape)     # (4,)

# Check if it's empty
print("Is empty:", student_grades.empty)  # False

Values: [85 92 78 95]
Index: Index(['Alice', 'Bob', 'Charlie', 'Diana'], dtype='object')
Data type: int64
Shape: (4,)
Is empty: False

In [10]:
# Accessing individual values
print(student_grades['Alice'])    # 85 (by label)
print(student_grades.iloc[0])     # 85 (by position)

# Mathematical operations (vectorized - applies to all values at once)
bonus_grades = student_grades + 5  # Add 5 to everyone's grade
print(bonus_grades)

# Multiplying all grades by 1.1 (10% bonus)
curved_grades = student_grades * 1.1
print(curved_grades)

# Filtering (find students who scored above 80)
high_scorers = student_grades[student_grades > 80]
print(high_scorers)

85
85
Alice       90
Bob         97
Charlie     83
Diana      100
dtype: int64
Alice       93.5
Bob        101.2
Charlie     85.8
Diana      104.5
dtype: float64
Alice    85
Bob      92
Diana    95
dtype: int64

## Practical Exercise

In [12]:
# Creating a Series of your daily expenses for a week
daily_expenses = pd.Series({
    'Monday': 25.50,
    'Tuesday': 32.00,
    'Wednesday': 18.75,
    'Thursday': 45.20,
    'Friday': 67.30,
    'Saturday': 89.45,
    'Sunday': 23.80
})

# Calculating total weekly spending
total = daily_expenses.sum()
print(f"Total weekly expenses: ${total:.2f}")

# Finding the most expensive day
max_day = daily_expenses.idxmax()
max_amount = daily_expenses.max()
print(f"Most expensive day: {max_day} (${max_amount:.2f})")

# Finding days when you spent more than $30
expensive_days = daily_expenses[daily_expenses > 30]
print("Days with high spending:")
print(expensive_days)

Total weekly expenses: $302.00
Most expensive day: Saturday ($89.45)
Days with high spending:
Tuesday     32.00
Thursday    45.20
Friday      67.30
Saturday    89.45
dtype: float64